<p><strong>Estadísticas</strong></p>
<br/>
<ul>
  <li><%=statistics.quizes%> preguntas</li>
  <li><%=statistics.commented%> preguntas con comentarios</li>
  <li><%=statistics.uncommented%> preguntas sin comentarios</li>
  <br/>
  <li><%=statistics.comments%> comentarios totales</li>
  <li><%=statistics.commentsByQuiz.toFixed(2)%> comentarios por pregunta</li>
</ul>